# Environment File
.env

# Firebase
firebase-emulator/firebase
firebase-key.json

# Coverage
coverage
coverage-html

# Migration
db/migration/202410_kv_games_deflate/dump*
db/migration/202410_kv_games_deflate/new*